---
// Nothing here
---

<!-- Prevent Tailwind purge of animation classes -->
<div class="hidden">
  data-[theme=matrix]:text-green-400
  data-[theme=matrix]:bg-black
  data-[theme=cyberpunk]:text-pink-400
  data-[theme=cyberpunk]:bg-black
  data-[theme=nes]:text-black
  data-[theme=nes]:bg-yellow-200

  <!-- Animation & glitch class names for NES -->
  nes-different-animate
  animate-nesGlitchPop
</div>
